# Copyright (c) 2011-2013 NVIDIA Corporation.  All Rights Reserved.
#
# NVIDIA Corporation and its licensors retain all intellectual property and
# proprietary rights in and to this software and related documentation.  Any
# use, reproduction, disclosure or distribution of this software and related
# documentation without an express license agreement from NVIDIA Corporation
# is strictly prohibited.

import init.bowser.usb.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    write /sys/class/gpio/export 131
    chown root system /sys/class/gpio/gpio131/value
    chmod 0664 /sys/class/gpio/gpio131/value
    write /sys/class/gpio/gpio131/direction "in"

on init
    export LD_SHIM_LIBS "/system/lib/libicuuc.so|libshim_icu.so:/system/lib/hw/camera.tegra.so|libshim_camera.so:/system/vendor/lib/libwvm.so|libshim_wvm.so"

    symlink /sdcard /storage/sdcard0

on fs
    mount_all /fstab.bowser

on post-fs-data
    mkdir /data/nvcam 0700 media camera

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

    # Create HDCP SRM folder and set its permissions
    setprop hdcp.srm.path       "/etc/hdcpsrm"
    setprop hdcp1x.srm.name     "hdcp1x.srm"
    setprop hdcp2x.srm.name     "hdcp2x.srm"
    setprop hdcp2xtest.srm.name "hdcp2xtest.srm"

on boot

    # AC detect
    write /sys/class/gpio/export 113
    write /sys/class/gpio/gpio113/direction "in"
    write /proc/sys/kernel/sysrq 0

    # Bluetooth
    # change back to bluetooth from system
    chown bluetooth net_bt_stack /data/misc/bluetooth

    # UART device
    chmod 0660 /dev/ttyHS2
    chown bluetooth net_bt_stack /dev/ttyHS2

    # Power up/down interface
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type
    write /sys/class/rfkill/rfkill0/state 0
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill0/type

    # Bluetooth MAC address programming
    chown bluetooth net_bt_stack ro.bt.bdaddr_path
    chown bluetooth net_bt_stack /system/etc/bluetooth
    chown bluetooth net_bt_stack /data/misc/bluetooth
    setprop ro.bt.bdaddr_path "/data/misc/bluetooth/bdaddr"

    # Backlight
    chown system system /sys/class/backlight/pwm-backlight/brightness

    # Didim
    chown system system /sys/class/graphics/fb0/device/smartdimmer/enable
    chown system system /sys/class/graphics/fb0/device/smartdimmer/aggressiveness
    chown system system /sys/class/graphics/fb0/device/smartdimmer/sd_window
    chown system system /sys/class/graphics/fb0/device/smartdimmer/sd_window_enable

    # Touch
    chown system system /sys/class/input/input0/enabled

    # Temperature monitor settings
    chown system system /sys/class/thermal
    chown system system /sys/class/thermal/thermal_zone5/trip_point_0_temp

    # Power management settings
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp 0

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor conservative
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor conservative

    write /sys/devices/system/cpu/cpufreq/conservative/up_threshold 85
    write /sys/devices/system/cpu/cpufreq/conservative/down_threshold 65
    write /sys/devices/system/cpu/cpufreq/conservative/freq_step 1

    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_governor interactive
    write /sys/devices/system/cpu/cpufreq/interactive/boost_factor 2
    write /sys/devices/system/cpu/cpufreq/interactive/max_boost 250000
    write /sys/devices/system/cpu/cpufreq/interactive/sustain_load 80
    write /sys/devices/system/cpu/cpufreq/interactive/io_busy_threshold 16
    write /sys/devices/system/cpu/cpufreq/interactive/midrange_max_boost 250000
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/enable 1
    write /sys/devices/system/cpu/cpuquiet/current_governor runnable
    write /sys/module/cpuidle_t11x/parameters/cpu_power_gating_in_idle 31
    write /sys/module/cpuidle_t11x/parameters/slow_cluster_power_gating_noncpu 1
    write /sys/module/cpuidle/parameters/power_down_in_idle 1

    chown system system /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/no_lp
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/platform/host1x/nvavp/boost_sclk

    # Default Read Ahead value for sdcards
    write /sys/block/mmcblk0/queue/read_ahead_kb 2048
    write /sys/block/mmcblk1/queue/read_ahead_kb 2048

    # Disable CMU calibration
    write /sys/devices/platform/host1x/tegradc.0/cmu_enable 0

     # start EC firmware flash application
    chown system audio /sys/devices/platform/bowser_misc/set_mute_led
    start bowser_ec_flash

    # increase idle_bottom_freq in order for LP core to get a more chance to run
    write /sys/devices/system/cpu/cpuquiet/tegra_cpuquiet/idle_bottom_freq 408000

    write /sys/module/input_cfboost/parameters/boost_freq 1122000
    write /sys/module/input_cfboost/parameters/boost_time 160

# Switch USB OTG mode depend on property
on property:usbotg.mode=1
    write /sys/devices/platform/tegra-otg/enable_host 1

on property:usbotg.mode=0
    write /sys/devices/platform/tegra-otg/enable_host 0

on property:ro.debuggable=1
    # EMC debug interface
    chmod 666 /sys/kernel/debug/tegra_emc/eack_state

on property:init.svc.hciattach=stopped
    write /sys/devices/platform/reg-userspace-consumer.1/state disabled

# Prepare TF service
import init.tf.rc

# unified scaling setup
import init.ussrd.rc

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    #   we will start as root and wpa_supplicant will switch to user wifi
    #   after setting up the capabilities required for WEXT
    #   user wifi
    #   group wifi inet keystore
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service p2p_supplicant /system/bin/wpa_supplicant \
    -ip2p0 -Dnl80211 -c/data/misc/wifi/p2p_supplicant.conf \
    -e/data/misc/wifi/entropy.bin -N \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# Bowser Base EC flash
service bowser_ec_flash /system/bin/bowser_ec_flash
    oneshot
    disabled

# Synaptics Touchpad
service syntouchpad /system/bin/syntouchpad
    class main

on property:persist.sys.tskin=1
    write /sys/class/thermal/thermal_zone5/trip_point_0_temp 54000

on property:persist.sys.tskin=0
    write /sys/class/thermal/thermal_zone5/trip_point_0_temp 60000
